# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/
composer.lock

# build
.sass-cache
build/
.phpunit.result.cache

# PHPCQ and related tools
.php_cs.cache
build.properties
.build
