services:
    ## The services block
    cca.dc-general.scope-matcher:
        class: ContaoCommunityAlliance\DcGeneral\Contao\RequestScopeDeterminator
        arguments:
          - "@contao.routing.scope_matcher"
          - "@request_stack"

    cca.dc-general.data-definition-container.factory.default:
        class: ContaoCommunityAlliance\DcGeneral\DataDefinitionContainer

    cca.dc-general.data-definition-container.factory:
        class: ContaoCommunityAlliance\DcGeneral\DataDefinitionContainer

    cca.dc-general.data-definition-container:
        class: ContaoCommunityAlliance\DcGeneral\DataDefinitionContainer

    cca.dc-general.environment:
        class: ContaoCommunityAlliance\DcGeneral\DefaultEnvironment


    ## The general event listeners block
    cca.dc-general.general_listener.legacy_dca.data_defintion_builder:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Builder\Legacy\LegacyDcaDataDefinitionBuilder
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.build-data-definition, method: process, priority: 100 }

    cca.dc-general.general_listener.extended_legacy_dca.data_definition_builder:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Builder\Legacy\ExtendedLegacyDcaDataDefinitionBuilder
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.build-data-definition, method: process, priority: 101 }

    ## PLACEHOLDER for anonymous function from event_listeners.php 65-84

    cca.dc-general.general_listener.data_provider_populator:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Populator\DataProviderPopulator
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.populate-environment, method: process, priority: 100 }

    cca.dc-general.general_listener.hard_coded_populator:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Populator\HardCodedPopulator
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.populate-environment, method: process, priority: -100 }

    cca.dc-general.general_listener.tree_enforcing:
        class: ContaoCommunityAlliance\DcGeneral\EventListener\ModelRelationship\TreeEnforcingListener
        tags:
            - { name: kernel.event_listener, event: dc-general.model.enforce-relationship, method: process }

    cca.dc-general.general_listener.parent_enforcing:
        class: ContaoCommunityAlliance\DcGeneral\EventListener\ModelRelationship\ParentEnforcingListener
        tags:
            - { name: kernel.event_listener, event: dc-general.model.enforce-relationship, method: process }


    ## The backend event listeners block
    cca.dc-general.backend_listener.extended_legacy_dca_populator:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Populator\ExtendedLegacyDcaPopulator
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.populate-environment, method: process, priority: 100 }

    cca.dc-general.backend_listener.backend_view_populator:
        arguments:
            - "@cca.dc-general.scope-matcher"
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Populator\BackendViewPopulator
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.populate-environment, method: process, priority: 100 }

    cca.dc-general.backend_listener.picker_compat_populator:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Dca\Populator\PickerCompatPopulator
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.factory.populate-environment, method: process, priority: -10000 }

    cca.dc-general.backend_listener.format_model_label_subscriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Subscriber\FormatModelLabelSubscriber
        calls:
            - method: setScopeDeterminator
              arguments:
                  - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.model.format_model_label, method: handleFormatModelLabel }

    cca.dc-general.backend_listener.get_group_header_subscriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Subscriber\GetGroupHeaderSubscriber
        arguments:
            - "@event_dispatcher"
            - "@cca.translator.contao_translator"
        calls:
            - method: setScopeDeterminator
              arguments:
                  - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.view.contao2backend.get-group-header, method: handle }

    ## PLACEHOLDER for anonymous function from event_listeners.php 128

    cca.dc-general.backend_listener.widget_builder:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Subscriber\WidgetBuilder
        arguments:
            - "@cca.dc-general.environment"
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.view.contao2backend.build-widget, method: handleEvent }

    cca.dc-general.backend_listener.color_picker_wizard_subscriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Subscriber\ColorPickerWizardSubscriber
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.view.contao2backend.build-widget, method: handleEvent }

    cca.dc-general.backend_listener.paste_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\PasteHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.create_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\CreateHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.edit_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\EditHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.select_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\SelectHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.copy_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\CopyHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.delete_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\DeleteHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.toggle_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\ToggleHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.list_view_show_all_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\ListViewShowAllHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.parent_list_view_show_all_handler:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\ActionHandler\ParentedListViewShowAllHandler
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.action, method: handleEvent }

    cca.dc-general.backend_listener.backend_button_listener:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\EventListener\BackButtonListener
        calls:
            - method: setScopeDeterminator
              arguments:
                  - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.view.contao2backend.get-global-button, method: handle }

    cca.dc-general.backend_listener.create_model_button_listener:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\EventListener\CreateModelButtonListener
        calls:
            - method: setScopeDeterminator
              arguments:
                  - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_listener, event: dc-general.view.contao2backend.get-global-button, method: handle }

    ## The general event subscribers block
    cca.dc-general.general_subsriber.fallback_reset_subscriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Subscriber\FallbackResetSubscriber
        tags:
            - { name: kernel.event_subscriber }
    cca.dc-general.general_subsriber.dynamic_parent_table_subscriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Subscriber\DynamicParentTableSubscriber
        tags:
            - { name: kernel.event_subscriber }

    ## The backend event subscribers block
    cca.dc-general.backend_subsriber.subsriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Event\Subscriber
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    cca.dc-general.backend_subsriber.clipboard_controller:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Controller\ClipboardController
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    cca.dc-general.backend_subsriber.language_filter:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Filter\LanguageFilter
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    cca.dc-general.backend_subsriber.rich_text_file_uuid_subsriber:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Subscriber\RichTextFileUuidSubscriber
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    cca.dc-general.backend_subsriber.check_permission:
        class: ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Subscriber\CheckPermission
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    cca.dc-general.backend_subsriber.dynmaic_parent_table:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Subscriber\DynamicParentTableSubscriber
        arguments:
            - "@cca.dc-general.scope-matcher"
        tags:
            - { name: kernel.event_subscriber }

    ## The picker provider block
    cca.picker.tree_picker_provider:
        class: ContaoCommunityAlliance\DcGeneral\Contao\Picker\TreePickerProvider
        public: false
        arguments:
            - "@knp_menu.factory"
            - "@router"
        calls:
            - [setTokenStorage, ["@security.token_storage"]]
        tags:
            - { name: contao.picker_provider }
