#dcg_clipboard {
  position: relative;
  padding-top: 2px;
  padding-left: 40px;
  min-height: 32px;
  background-image: url(../images/clipboard.svg);
  background-size: 24px 24px;
  background-position: 6px 3px;
  background-repeat: no-repeat;

  .btn-clear {
    position: absolute;
    top: 3px;
    left: 6px;
    opacity: 0;
    transition: opacity 300ms;

    &:hover {
      opacity: 1;
      transition: opacity 300ms;
    }
  }
  ul {
    display: block;
  }
  li {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 2px 4px;

    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
  img {
    vertical-align: middle;
  }
}
