.tl_language_panel {
  padding: 6px 6px 7px 0;
  background: #f3f3f3;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bbb;
  text-align: right;
}

.tl_language_panel .tl_select {
  width: 240px;
}

.mac .tl_language_panel select {
  max-width: none;
}

.mac .tl_language_panel .tl_select,
.mac .tl_panel_bottom .tl_select {
  font-size: 11px;
}

.safari .tl_language_panel,
.ie .tl_language_panel {
  overflow: hidden;
}

.tl_language_panel .tl_formbody {
  position: relative;
}

.safari .tl_language_panel .tl_formbody,
.ie .tl_language_panel .tl_formbody {
  float: right;
}

.tl_language_panel .tl_submit {
  margin-top: 1px;
  vertical-align: top;
}

.webkit .tl_language_panel .tl_submit,
.ie .tl_language_panel .tl_submit {
  padding-top: 4px;
  padding-bottom: 4px;
}

.opera .tl_language_panel .tl_submit {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -1px;
}

.tl_language_panel img {
  position: relative;
  top: 4px;
  vertical-align: top;
}
