/**
 * Breadcrumb styles
 *
 * @copyright  Contao Community Alliance.
 * @author     Andreas Isaak <please.andi@metamodel.me>
 * @package    Backend
 */

@media screen, projection {
  #tl_breadcrumb {
    padding-top: 4px;
  }

  #tl_breadcrumb li:before {
    content: ">";
    padding-right: 5px;
  }

  #tl_breadcrumb li:first-child:before {
    display: none;
  }
}
